# Terraform working directory
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Terraform plans
*.tfplan
*.plan

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc

# macOS
.DS_Store